# Backend Framework
flask
flask-cors
gunicorn

# Deep Learning
torch
torchvision
torchaudio

# Computer Vision
opencv-python
pillow
numpy
matplotlib
scikit-image

# AI / Detection Models
ultralytics
supervision
transformers==4.30.2
timm==0.9.12

# SAM / Segmentation
sam2

# GroundingDINO Dependencies
pyyaml
requests
scipy
einops
addict
yapf

# Utilities
tqdm
pandas
ipython
jupyter

# Annotation
pycocotoolspymongo
google-auth
PyJWT
python-dotenv
